body {

    .app-wrap{
        max-width: 628px;
        margin: 0 auto;
    }

    background-color: transparent;

    .tag-list{
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .tag-item{  
        .tag-item-title:before{
            content:'#';
            padding: 1px;

        }
    }

    .tag-item-image{
        width: 135px;
        height: 135px;
        background: url('/Content/images/de_los_insurgentes_avenue_chihuahua_mexico.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin: 13px;
        border-radius: 10px;
        flex-grow: 0;
        flex-shrink: 0;
        box-shadow: 1px 1px 14px lightgrey;
        box-sizing: border-box;

        &:hover{
            cursor:pointer;
        }
        
    }

    .active-category{
        border:1px solid red;    
            border: 2px solid #2475FA;
    
    }


    .poster-item{
       
        background: url(/Content/images/de_los_insurgentes_avenue_chihuahua_mexico.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        -moz-background-size: cover;
        background-size: cover;
        display: inline-block;
        /*
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
         flex-wrap: wrap; 
         justify-content: space-between;*/
        margin: 10px;
        width: 135px;
    height: 135px;

        &:hover{
            cursor:pointer;
        }
    }

    .poster-list{
        
    }

    .tag-item-content-wrp{
        font-size: 26px;
        font-family: 'Arimo Regular';
        color: #555555;
    }
}
