$light-orange: #f16d5d;
$orange: #ea6150;
$red: #e20010;
$green: #339999;
$pink: #b30c3c;
$night-black: #393737;
$white: #fff;
$dirty-white:#F6F6F6;
$black: #000;
$gray: #282828;
$dark-gray: #2B2B2B;
$brown: #4a162c;
$font-family: 'Open Sans Hebrew';
$mobileWidth: 800px;
$cornerWidth:40px;
$result-gray: #ebebeb;
$result-dark-gray: #626262;