
@font-face {
    font-family: 'NarkisBlockCondensedMF';
    src: url('/content/fonts/NarkisBlockCondensedMF-Bold.eot');
    src: url('/content/fonts/NarkisBlockCondensedMF-Bold.eot?#iefix') format('embedded-opentype'), url('/content/fonts/NarkisBlockCondensedMF-Bold.woff') format('woff'), url('/content/fonts/NarkisBlockCondensedMF-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NarkisBlockCondensedMF';
    src: url('/content/fonts/NarkisBlockCondensedMF-Thin.eot');
    src: url('/content/fonts/NarkisBlockCondensedMF-Thin.eot?#iefix') format('embedded-opentype'), url('/content/fonts/NarkisBlockCondensedMF-Thin.woff') format('woff'), url('/content/fonts/NarkisBlockCondensedMF-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'NarkisBlockCondensedMF';
    src: url('/content/fonts/NarkisBlockCondensedMF-Medium.eot');
    src: url('/content/fonts/NarkisBlockCondensedMF-Medium.eot?#iefix') format('embedded-opentype'), url('/content/fonts/NarkisBlockCondensedMF-Medium.woff') format('woff'), url('/content/fonts/NarkisBlockCondensedMF-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Hebrew';
    src: url('/content/fonts/OpenSansHebrew-Regular.eot');
    src: url('/content/fonts/OpenSansHebrew-Regular.eot?#iefix') format('embedded-opentype'), url('/content/fonts/OpenSansHebrew-Regular.woff') format('woff'), url('/content/fonts/OpenSansHebrew-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Hebrew';
    src: url('/content/fonts/OpenSansHebrew-Light.eot');
    src: url('/content/fonts/OpenSansHebrew-Light.eot?#iefix') format('embedded-opentype'), url('/content/fonts/OpenSansHebrew-Light.woff') format('woff'), url('/content/fonts/OpenSansHebrew-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
