@import '../../Assets/Css/variables.scss';

.site-footer {
    background-color: $gray;
    padding: 40px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    > * {
        display: inline-block;
        vertical-align: middle;
    }
}

.site-footer-logo {
    display: block;
    transform: translate3d(0, 30px, 0);
    width: 160px;
    margin: 0 auto;

    img {
        max-width: 100%;
    }
}
