body {

    .categories-decade-info{
        padding: 10rem;
        position: relative;  
    }

    .categories-decade-title{
        font-size: 80px;
        font-family:'Rubik';
        font-weight: bold;
    }

    .categories-decade-count{
        font-size: 39px;
        font-family:'Helvetica Neue';
    }

  
}
