

.categories-decade-info-wrp{
    margin-bottom: -4rem;

}
    .categories{
        max-width: 800px;
        margin: 0 auto;
    }

    .categories-decade-info{
        background: #2475FA;

    }

    .categories-content-wrp{
        background-color: white;

    }

